body {
    background-color: #000000;
    color: #ff0000;
    margin: 0; /* Eliminar márgenes */
    overflow: hidden; /* Eliminar barras de desplazamiento */
    width: 100%;
    height: 100%;
}

a {
    color: rgb(255, 255, 255);
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden; /* Eliminar barras de desplazamiento */
}
